<h1><%= @user.username %></h1>

<dl>
  <dt>Your User ID</dt>
  <dd><%= @user.id %></dd>

  <dt>Edit your username</dt>
<% if session.fetch(:user_id) == @user.id %>

  <dd>
    <form action="/update_user/<%= @user.id %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">

      <button>Update user</button>
    </form>
  </dd>
</dl>
<% else %>
  <dd>
    <p>You do not have permission to edit</p>
  </dd>
<%end%>

<h2>Create New Okay</h2>
  <% if session.fetch(:user_id) == @user.id %>
      <form action="/insert_okay" method="post">
        <div class="form-group">
          <label for="owner_id_box">
          </label>

          <input type="hidden" id="owner_id_box" name="owner_id_from_query" class="form-control">
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="okay_or_not_box" name="okay_or_not_from_query" value="1">

          <label class="custom-control-label" for="okay_or_not_box">Okay</label>
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="okay_or_not_box" name="okay_or_not_from_query" value="0">

          <label class="custom-control-label" for="okay_or_not_box">Not Okay</label>
        </div>

        <button class="btn btn-block btn-outline-secondary">
          Create okay
        </button>
      </form>
  <% else %>
    <dd>
      <p>You do not have permission to edit</p>
    </dd>
  <% end %>

<h2>Own Okays</h2>

<table border="1">
  <tr>
    <th>
      Okay?
    </th>

    <th>
      Owner
    </th>

    <th>
      Date
    </th>

    <th></th>
  </tr>

  <% @user.own_okays.each do |list_my_okays| %>

    <tr>
      
      <td>
      <%=list_my_okays.parse_okay%>
      </td>

      <td>
      <%=list_my_okays.poster%>
      </td>

      <td>
      <%=list_my_okays.created_at%>
      </td>

      <td>
      Maybe add a button that deletes the okay
      </td>

    </tr>
  <%end%>

</table>
