<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Okay #<%= @okay.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/okays" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <% if @okay.owner_id == session.fetch(:user_id) %>
        <div class="col">
          <a href="/delete_okay/<%= @okay.id %>" class="btn btn-block btn-outline-secondary">
            Delete okay
          </a>
        </div>
      <% else %>

      <% end %>
    </div>

    <dl>
      <dt>
        Owner
      </dt>
      <dd>
        <%= @okay.poster %>
      </dd>

      <dt>
        Okay or not
      </dt>
      <dd>
        <%= @okay.okay_or_not %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@okay.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@okay.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
<hr>
