<!DOCTYPE html>
<html>
  <head>
    <title>Am I Okay?</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

<ul>
      <li><a href="/users">Startseite</a></li>

      <li><a href="/okays">Alle Das Okays</a> </li>


      <% if session.fetch(:user_id) != nil %>
        <li><a href="/users/<%= @current_user.username %>">Mein Profile</a></li>
        <li><a href="/my_follow_requests/<%= session.fetch(:user_id) %>">Mein Followers Requests</a></li>
        <li><a href="/user_sign_out">Sign Out</a></li>
      <% else %>
        <li><a href="/user_sign_in">Sign In</a></li>
        <li><a href="/user_sign_up">Sign Up</a> </li>
      <% end %>
      

    </ul>

    <% if alert.present? %>
      <div style="border: thin red solid; color:red">
        <%= alert%>
    </div>
    <% end %>

    <% if session.fetch(:user_id) != nil %>
      <h2 style="color:blue;text-align:center;">Willkommen, <%= @current_user.username %>!</h2>
    <%else%>

    <%end%>


    <% if notice.present? %>
      <div style="border: thin green solid; color: green">
        <%= notice%>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <footer>
  <hr>
  © <a href= "https://www.youtube.com/watch?v=ciS914MaDl8">Prestige Worldwide</a>
  </footer>
</html>
